body {
     font-family: 'Roboto', sans-serif;
	 font-weight: 300;
	 color:black;
}

h6,
h5,
h4,
h3,
h2,
h1 {
     font-family: 'Oswald', sans-serif;
	 font-weight: 900;
	 
}

img.logo {width:250px}

#footer {background-color:darkblue;color:#fff}

#lowerfooter {background-color:darkblue;color:#fff}