body {
     font-family: 'Roboto', sans-serif;
	 font-weight: 500;
	 color:black;
}

h6,
h5,
h4,
h3,
h2,
h1 {
     font-family: 'Oswald', sans-serif;
	 font-weight: 650;
	 
}

img.logo {width:250px}

#navbar {background-color:;color:#fff}

#footer {background-color:#091D4D ;color:#fff}

#lowerfooter {background-color:lightblue ;color:#fff}
#lowerfooter i {font-size:70px;color:#091D4D; margin:5px 10px 5px 2px}



.memberBenefits i {font-size:120px;color:#fff;}
.memberBenefits p {font-size:24px;color:#fff;margin-top:12px}
.mBBox {background-color:#091D4D;padding:15px; border-radius:8px}

.pBo{border:#fff 1px solid; border-radius:8px;margin:8px}
.pBo img {z-index:-1;border-radius:8px}
.pBo button {z-index:2;position:absolute;right:50%;transform: translate(50%,50%);padding:8px;bottom:50%;border-radius:8px;background-color:green;border:2px blue solid;color:blue}
.pBo button:hover {background-color:blue;border:2px green solid;color:green}
